{% extends 'index.html' %}

{% block body %}

<div class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20">
    <div class="mx-auto sm:text-center lg:max-w-2xl">
        <div class="max-w-xl mb-10 md:mx-auto sm:text-center lg:max-w-2xl md:mb-12">
            <div>
                <p
                    class="inline-block px-3 py-px mb-4 text-xs font-semibold tracking-wider text-brand-tertiary uppercase rounded-full bg-brand-secondary">
                    {{ page.meta.group }}
                </p>
            </div>
            <h2
                class="max-w-lg mb-6 text-3xl font-bold leading-none tracking-tight text-gray-900 sm:text-4xl md:mx-auto">
                <span class="relative inline-block">
                    <svg viewBox="0 0 52 24" fill="currentColor"
                        class="absolute top-0 left-0 z-0 hidden w-32 -mt-8 -ml-20 text-blue-gray-100 lg:w-32 lg:-ml-28 lg:-mt-10 sm:block">
                        <defs>
                            <pattern id="5dc90b42-5ed4-45a6-8e63-2d78ca9d3d95" x="0" y="0" width=".135" height=".30">
                                <circle cx="1" cy="1" r=".7"></circle>
                            </pattern>
                        </defs>
                        <rect fill="url(#5dc90b42-5ed4-45a6-8e63-2d78ca9d3d95)" width="52" height="24"></rect>
                    </svg>

                    {{ page.meta.title }}
                </span>
            </h2>
            <p class="text-base text-gray-700 md:text-lg">
                {{ page.meta.date }}
            </p>
        </div>
        <div class="mb-4 transition-shadow duration-300 hover:shadow-xl lg:mb-6">
            <img class="object-cover w-full h-56 rounded shadow-lg sm:h-64 md:h-80 lg:h-96" src="
                  {% if page.meta.imageURL %}
                  {{ page.meta.imageURL }}
                  {% else %}
                  https://images.pexels.com/photos/3727459/pexels-photo-3727459.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;h=750&amp;w=1260
                  {% endif %}
                " alt="" />
        </div>

        <p class="max-w-xl mb-4 text-base text-gray-700 sm:mx-auto">
            {{ page.meta.caption }}
        </p>
    </div>
</div>

{% if page.meta.audioURL %}
<section class="mb-10">
    <div>
        <div class="flex h-[120px] items-center gap-5 rounded-lg bg-brand-secondary">
            <button class="flex size-[60px] items-center justify-center rounded-full bg-brand-primary" onclick="this.firstChild.play()">
                <audio src="{{page.meta.audioURL}}"></audio> 
                <img alt="Play" loading="lazy" width="13" height="14" decoding="async" data-nimg="1" class=""
                    style="color: transparent;"
                    srcset="https://website.cdn.speechify.com/mini-play.svg 1x, https://website.cdn.speechify.com/mini-play.svg 2x"
                    src="https://website.cdn.speechify.com/mini-play.svg">
                </button>
            <div class="grow text-base font-medium text-white">Listen to this article!</div><img
                alt="Speechify" loading="lazy" width="34" height="19" decoding="async" data-nimg="1" class=""
                style="color: transparent;"
                srcset="https://website.cdn.speechify.com/mini-logo.svg 1x, https://website.cdn.speechify.com/mini-logo.svg 2x"
                src="https://website.cdn.speechify.com/mini-logo.svg">
        </div>
    </div>
</section>
{% endif %}

<div class="flex flex-row justify-center align-items-center mb-12">
    <article class="mx-auto px-4 md:px-0 prose lg:prose-xl">
        {{ page.html|safe }}
    </article>
</div>


{% endblock %}