{% extends 'confirmation.html' %} {% block body %}
<style>
  .swal-icon img {
    max-width: 300px;
    max-height: 300px;
    display: block;
    margin: auto;
    object-fit: contain;
  }
</style>

<div id="test1" class="flex items-center justify-center h-screen bg-gray-100">
  <div id="imgCont" class="h-96 w-96 bg-white flex items-center justify-center">
    <img
      id="currentImg"
      src=""
      alt=""
      class="object-contain max-w-full max-h-full"
    />
  </div>
</div>

<script type="module" src="/static/js/images.js"></script>
{% endblock %}
