<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!-- Sets the viewport to scale for different device widths and initial zoom level -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NeuroGaze</title>

    <link rel="stylesheet" href="/static/css/index.css" />
    <link href="/static/css/output.css" rel="stylesheet" />
    <script src="/static/js/webgazer/webgazer.js"></script>
  </head>
  <body>
    {% include 'components/navbar.html' %}

    <div
      class="container mx-auto pt-16 sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8"
    >
      {% block body %}

      <!-- Top Component of Home Page (Intro), fragments allow you to group elements without a group list -->
      <div
        class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20"
      >
        <div class="grid gap-5 row-gap-8 lg:grid-cols-2">
          <div class="flex flex-col justify-center">
            <div class="max-w-xl mb-6">
              <div>
                <p
                  class="inline-block px-3 py-px mb-4 text-xs font-semibold tracking-wider uppercase rounded-full bg-brand-primary"
                >
                  Brand new
                </p>
              </div>
              <h2
                class="max-w-lg mb-6 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl sm:leading-none"
              >
                Redefining ADHD Detection
                <span class="inline-block text-brand-secondary">
                  Technology
                </span>
              </h2>
              <p class="text-base text-gray-700 md:text-lg">
                Experience simplified ADHD pre-diagnosis with quick results and comprehensive resources.
              </p>
            </div>
            <a
              href="/testing"
              aria-label=""
              class="inline-flex items-center font-semibold transition-colors duration-200 text-brand-secondary hover:text-brand-tertiary"
            >
              Start Testing
              <svg
                class="inline-block w-3 ml-2"
                fill="currentColor"
                viewBox="0 0 12 12"
              >
                <path
                  d="M9.707,5.293l-5-5A1,1,0,0,0,3.293,1.707L7.586,6,3.293,10.293a1,1,0,1,0,1.414,1.414l5-5A1,1,0,0,0,9.707,5.293Z"
                />
              </svg>
            </a>
          </div>
          <div class="relative">
            <svg
              class="absolute w-full text-brand-primary"
              fill="currentColor"
              viewBox="0 0 600 392"
            >
              <rect x="0" y="211" width="75" height="181" rx="8" />
              <rect x="525" y="260" width="75" height="132" rx="8" />
              <rect x="105" y="83" width="75" height="309" rx="8" />
              <rect x="210" y="155" width="75" height="237" rx="8" />
              <rect x="420" y="129" width="75" height="263" rx="8" />
              <rect x="315" y="0" width="75" height="392" rx="8" />
            </svg>
            <svg
              class="relative w-full text-brand-secondary"
              fill="currentColor"
              viewBox="0 0 600 392"
            >
              <rect x="0" y="311" width="75" height="81" rx="8" />
              <rect x="525" y="351" width="75" height="41" rx="8" />
              <rect x="105" y="176" width="75" height="216" rx="8" />
              <rect x="210" y="237" width="75" height="155" rx="8" />
              <rect x="420" y="205" width="75" height="187" rx="8" />
              <rect x="315" y="83" width="75" height="309" rx="8" />
            </svg>
          </div>
        </div>
      </div>
      <!-- Second Component of Home Page (Facts and uses) -->
      <div
        class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20"
      >
        <div
          class="max-w-xl mb-10 md:mx-auto sm:text-center lg:max-w-2xl md:mb-12"
        >
          <h2
            class="mb-6 font-sans text-3xl font-bold leading-none tracking-tight text-gray-900 sm:text-4xl md:mx-auto"
          >
            <span class="relative inline-block">
              <span class="relative"></span>
            </span>
            ~80% of Adults with ADHD go Undiagnosed
          </h2>
          <p class="text-base text-gray-700 md:text-lg">
            Several studies estimated that less than 20% of adults who meet the criteria for ADHD are diagnosed.
          </p>
        </div>
        <div class="grid gap-8 row-gap-12 lg:grid-cols-2">
          <div class="max-w-md sm:mx-auto sm:text-center">
            <div
              class="flex items-center justify-center w-16 h-16 mb-4 rounded-full bg-brand-primary sm:mx-auto sm:w-24 sm:h-24"
            >
              <svg
                class="w-12 h-12 text-brand-tertiary sm:w-20 sm:h-20"
                stroke="currentColor"
                viewBox="0 0 52 52"
              >
                <polygon
                  strokeWidth="3"
                  strokeLinecap="round"
                  strokeLinejoin="round"
                  fill="none"
                  points="29 13 14 29 25 29 23 39 38 23 27 23"
                />
              </svg>
            </div>
            <h6 class="mb-3 text-xl font-bold leading-5">ADHD among children is increasing</h6>
            <p class="mb-3 text-sm text-gray-900">
              According to a study published in JAMA Pediatrics in 2019, the prevalence of ADHD among children increased from 6.1% in 1997 to 10.2% in 2016. 
              
            </p>
            <a
              href="https://www.goldenstepsaba.com/resources/adhd-statistics"
              aria-label=""
              class="inline-flex items-center font-semibold transition-colors duration-200 text-brand-secondary hover:text-brand-tertiary"
              target="_blank"
            >
              Read more
          
            </a>
          </div>
          <div class="max-w-md sm:mx-auto sm:text-center">
            <div
              class="flex items-center justify-center w-16 h-16 mb-4 rounded-full bg-brand-primary sm:mx-auto sm:w-24 sm:h-24"
            >
              <svg
                class="w-12 h-12 text-brand-tertiary sm:w-20 sm:h-20"
                stroke="currentColor"
                viewBox="0 0 52 52"
              >
                <polygon
                  strokeWidth="3"
                  strokeLinecap="round"
                  strokeLinejoin="round"
                  fill="none"
                  points="29 13 14 29 25 29 23 39 38 23 27 23"
                />
              </svg>
            </div>
            <h6 class="mb-3 text-xl font-bold leading-5">Benefits of early detection</h6>
            <p class="mb-3 text-sm text-gray-900">
              Early detection of ADHD can be transformative, allowing neurodiverse individuals to harness their unique strengths and thrive in various areas of life.
            </p>
            <a
              href="https://www.nimh.nih.gov/health/topics/attention-deficit-hyperactivity-disorder-adhd"
              aria-label=""
              class="inline-flex items-center font-semibold transition-colors duration-200 text-brand-secondary hover:text-brand-tertiary"
              target="_blank"
            >
              Read more
            </a>
          </div>
        </div>
      </div>
      <!-- Third Component of Home Page (Step by Step Process)  -->
      <div
        class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20"
      >
        <div
          class="max-w-xl mb-10 md:mx-auto sm:text-center lg:max-w-2xl md:mb-12"
        >
          <div>
            <p
              class="inline-block px-3 py-px mb-4 text-xs font-semibold tracking-wider text-brand-tertiary uppercase rounded-full bg-brand-primary"
            >
              Simplified
            </p>
          </div>
          <h2
            class="max-w-lg mb-6 font-sans text-3xl font-bold leading-none tracking-tight text-gray-900 sm:text-4xl md:mx-auto"
          >
            <span class="relative inline-block" style="width: 300px;">
              <span class="relative">Simplified ADHD Pre-detection.</span>
            </span>
          </h2>
          <p class="text-base text-gray-700 md:text-xlg">
            Take a comprehensive ADHD pre-diagnosis exam backed by clinical studies.
          </p>
        </div>
        <div
          class="relative grid gap-8 row-gap-5 mb-8 md:row-gap-8 lg:grid-cols-4 sm:grid-cols-2"
        >
          <div
            class="absolute inset-0 flex items-center justify-center sm:hidden lg:flex"
          >
            <div class="w-px h-full bg-gray-300 lg:w-full lg:h-px"></div>
          </div>
          <div
            class="p-5 duration-300 transform bg-white border rounded shadow-sm hover:-translate-y-2"
          >
            <div class="flex items-center justify-between mb-2">
              <p class="text-lg font-bold leading-5">Callibration</p>
              <p
                class="flex items-center justify-center w-6 h-6 font-bold rounded text-brand-tertiary bg-brand-primary"
              >
                1
              </p>
            </div>
            <p class="text-sm text-gray-900">
              Browser-based eye callibration for simplified and streamlined testing.
            </p>
          </div>
          <div
            class="p-5 duration-300 transform bg-white border rounded shadow-sm hover:-translate-y-2"
          >
            <div class="flex items-center justify-between mb-2">
              <p class="text-lg font-bold leading-5">Testing Process</p>
              <p
                class="flex items-center justify-center w-6 h-6 font-bold rounded text-brand-tertiary bg-brand-primary"
              >
                2
              </p>
            </div>
            <p class="text-sm text-gray-900">
              Take three Computerized Adaptive Tests that detect symptoms consistent with ADHD.
            </p>
          </div>
          <div
            class="p-5 duration-300 transform bg-white border rounded shadow-sm hover:-translate-y-2"
          >
            <div class="flex items-center justify-between mb-2">
              <p class="text-lg font-bold leading-5">Screening Test</p>
              <p
                class="flex items-center justify-center w-6 h-6 font-bold rounded text-brand-tertiary bg-brand-primary"
              >
                3
              </p>
            </div>
            <p class="text-sm text-gray-900">
              Answer a straightforward screening test with an age appropriate assessment scale.
            </p>
          </div>
          <div
            class="p-5 duration-300 transform bg-white border rounded shadow-sm hover:-translate-y-2"
          >
            <div class="flex items-center justify-between mb-2">
              <p class="text-lg font-bold leading-5">Get Pre-Diagnosed for ADHD</p>
              <p
                class="flex items-center justify-center w-6 h-6 font-bold rounded text-brand-tertiary bg-brand-primary"
              >
                4
              </p>
            </div>
            <p class="text-sm text-gray-900">
              Obtain a pre-diagnosis report and take your results to your local physician or psychiatrist.
            </p>
          </div>
        </div>
        <div class="text-center">
          <a
            href="/testing"
            class="inline-flex items-center justify-center w-full h-12 px-6 font-medium tracking-wide text-white transition duration-200 rounded shadow-md md:w-auto bg-brand-secondary hover:bg-brand-tertiary focus:shadow-outline focus:outline-none"
          >
            Learn more
          </a>
        </div>
      </div>

      <!-- Fourth Component of Home Page (FAQ Section) -->
      <style>
        .faq-item {
          border: 1px solid #ddd;
          border-radius: 5px;
          margin-bottom: 10px;
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
          padding-left: 10px;
          position: relative;
        }

        .faq-item::before {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          width: 4px;
          background-color: #81C3E0; /* Blue left border */
          border-radius: 5px 0 0 5px;
        }

        .faq-question {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 15px;
          cursor: pointer;
        }

        .faq-question p {
          margin: 0;
          font-size: 1.125rem;
          font-weight: bold;
        }

        .faq-arrow {
          transition: transform 0.3s ease;
        }

        .faq-item.active .faq-arrow {
          transform: rotate(90deg);
        }

        .faq-answer {
          overflow: hidden;
          max-height: 0;
          transition: max-height 0.4s ease; /* Smooth max-height transition */
          padding: 0 15px; /* Only adds side padding */
        }

        .faq-item.active .faq-answer {
          padding: 15px; /* Adds top and bottom padding when active */
        }
      </style>

      <div
        id="faq"
        class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20"
      >
        <div class="max-w-xl sm:mx-auto lg:max-w-2xl">
          <div class="flex flex-col mb-16 sm:text-center">
            <a href="/" class="mb-6 sm:mx-auto">
              <div class="flex items-center justify-center w-12 h-12 rounded-full bg-brand-primary">
                <svg class="w-10 h-10 text-brand-tertiary" stroke="currentColor" viewBox="0 0 52 52">
                  <polygon stroke-width="3" stroke-linecap="round" stroke-linejoin="round" fill="none" points="29 13 14 29 25 29 23 39 38 23 27 23"></polygon>
                </svg>
              </div>
            </a>
            <div class="max-w-xl md:mx-auto sm:text-center lg:max-w-2xl">
              <h2 class="max-w-lg mb-6 font-sans text-3xl font-bold leading-none tracking-tight text-gray-900 sm:text-4xl md:mx-auto">
                <span class="relative inline-block">
                  <span class="relative">Here are Some Frequently</span>
                </span>
                Asked Questions about ADHD
              </h2>
              <p class="text-base text-gray-700 md:text-lg">
                Find answers to common questions about ADHD, from symptoms and diagnosis to treatment options.
              </p>
            </div>
          </div>
          <div class="space-y-4">
            <div class="faq-item">
              <div class="faq-question">
                <p class="text-lg font-medium">What is ADHD?</p>
                <span class="faq-arrow">&gt;</span>
              </div>
              <div class="faq-answer">
                <p class="text-gray-700">
                  Attention deficit hyperactivity disorder is a neurodevelopmental disorder characterised by executive dysfunction occasioning symptoms of inattention, 
                  hyperactivity, impulsivity and emotional dysregulation that are excessive and pervasive, impairing in multiple contexts, and otherwise age-inappropriate. 
                </p>
              </div>
            </div>
            <div class="faq-item">
              <div class="faq-question">
                <p class="text-lg font-medium">How common is ADHD?</p>
                <span class="faq-arrow">&gt;</span>
              </div>
              <div class="faq-answer">
                <p class="text-gray-700">
                  A meta-analysis of 175 research studies worldwide on ADHD prevalence in children aged 18 and under found an overall pooled estimate of 7.2% (Thomas et al. 2015).
                  The US Census Bureau estimates 1,795,734,009 people were aged 5-19 worldwide in 2013. Thus, 7.2% of this total population is 129 million—a rough estimate of the number of children worldwide who have ADHD.
                </p>
              </div>
            </div>
            <div class="faq-item">
              <div class="faq-question">
                <p class="text-lg font-medium">How is ADHD diagnosed?</p>
                <span class="faq-arrow">&gt;</span>
              </div>
              <div class="faq-answer">
                <p class="text-gray-700">
                  There is no single test to diagnose ADHD, and many other problems, such as sleep disorders, anxiety, depression, and certain types of learning disabilities, can also have symptoms similar to ADHD.
                  The diagnosis can be made by a mental health professional, like a psychologist or psychiatrist, or by a primary care provider, like a pediatrician.
                </p>
              </div>
            </div>
            <div class="faq-item">
              <div class="faq-question">
                <p class="text-lg font-medium">Can ADHD be cured?</p>
                <span class="faq-arrow">&gt;</span>
              </div>
              <div class="faq-answer">
                <p class="text-gray-700">
                  Standard treatments for ADHD in adults typically involve medication, education, skills training and psychological counseling. 
                  A combination of these is often the most effective treatment. These treatments can help manage many symptoms of ADHD , but they don't cure it.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <script>
        document.addEventListener("DOMContentLoaded", function() {
          const faqItems = document.querySelectorAll(".faq-item");

          faqItems.forEach(item => {
            const question = item.querySelector(".faq-question");
            const answer = item.querySelector(".faq-answer");
            const arrow = item.querySelector(".faq-arrow");

            question.addEventListener("click", () => {
              const isOpen = item.classList.contains("active");

              // Close all items
              faqItems.forEach(otherItem => {
                const otherAnswer = otherItem.querySelector(".faq-answer");
                otherItem.classList.remove("active");
                otherAnswer.style.maxHeight = null;
                otherItem.querySelector(".faq-arrow").classList.remove("rotate");
              });

              // Open the clicked item if it was not open
              if (!isOpen) {
                item.classList.add("active");
                arrow.classList.add("rotate");
                
                // Set maxHeight based on the scrollHeight of the content for smooth animation
                answer.style.maxHeight = answer.scrollHeight + "px";
              }
            });
          });
        });
      </script>
      <!-- Fifth Component of Home Page (Get Started) -->
      <div
        class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20"
      >
        <div
          class="flex flex-col max-w-screen-lg overflow-hidden bg-white border rounded shadow-sm lg:flex-row sm:mx-auto"
        >
          <div class="relative lg:w-1/2">
            <img
              src="https://images.pexels.com/photos/3182812/pexels-photo-3182812.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;h=750&amp;w=1260"
              alt=""
              class="object-cover w-full lg:absolute h-80 lg:h-full"
            />
            <svg
              class="absolute top-0 right-0 hidden h-full text-white lg:inline-block"
              viewBox="0 0 20 104"
              fill="currentColor"
            >
              <polygon
                points="17.3036738 5.68434189e-14 20 5.68434189e-14 20 104 0.824555778 104"
              />
            </svg>
          </div>
          <div
            class="flex flex-col justify-center p-8 bg-white lg:p-16 lg:pl-10 lg:w-1/2"
          >
            <div>
              <p
                class="inline-block px-3 py-px mb-4 text-xs font-semibold tracking-wider text-brand-tertiary uppercase rounded-full bg-brand-primary"
              >
                Brand new
              </p>
            </div>
            <h5 class="mb-3 text-3xl font-extrabold leading-none sm:text-4xl">
              Redefining ADHD Testing 
            </h5>
            <p class="mb-5 text-gray-800">
              Want to better understand your ADHD symptoms and find help? Take our free online ADHD pre-diagnosis assessment and get results backed by clinical studies.
            </p>
            <div class="flex items-center">
              <a
                href="/testing"
                class="inline-flex items-center justify-center h-12 px-6 mr-6 font-medium tracking-wide text-white transition duration-200 rounded shadow-md bg-brand-secondary hover:bg-brand-tertiary focus:shadow-outline focus:outline-none"
              >
                Get started
              </a>
              <a
                href="/resources"
                aria-label=""
                class="inline-flex items-center font-semibold transition-colors duration-200 text-brand-secondary hover:text-brand-tertiary"
              >
                Resources
                <svg
                  class="inline-block w-3 ml-2"
                  fill="currentColor"
                  viewBox="0 0 12 12"
                >
                  <path
                    d="M9.707,5.293l-5-5A1,1,0,0,0,3.293,1.707L7.586,6,3.293,10.293a1,1,0,1,0,1.414,1.414l5-5A1,1,0,0,0,9.707,5.293Z"
                  />
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
      {% endblock %}
    </div>

    {% include 'components/footer.html' %}

    <!-- Linking JavaScript file for button functionalities -->
    <script src="static/js/index.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
      integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
