{% extends 'confirmation.html' %}
{% block body %}
<script>
  // Get the selected difficulty from localStorage
  const selectedDifficulty = localStorage.getItem("selectedDifficulty");

  // Redirect based on selectedDifficulty
  if (selectedDifficulty === "child") {
    window.location.href = "/childtest";
  } else if (selectedDifficulty === "teen") {
    window.location.href = "/teentest";
  } else if (selectedDifficulty === "adult") {
    window.location.href = "/adulttest";
  } else {
    alert("No difficulty level selected. Redirecting to the home page.");
    window.location.href = "/"; // Replace with your home page URL
  }
</script>
{% endblock %}