{% extends 'confirmation.html' %} {% block body %}

<div class="flex items-center justify-center bg-white">
  <div
    id="questions-cont"
    class="font-bold flex items-center justify-center mt-10"
  >
    <div class="flex flex-col">
      <h1 class="text-2xl font-bold text-center">
        ADHD Self-Report Screening Checklist
      </h1>

      <div id="childQuestions" style="display: none">
        {% for question in questions.child %}
        <div class="mb-10" id="questionCQ{{loop.index}}">
          {{loop.index}}. {{ question.text }} {% if loop.index < 48 %}
          <ul
            class="items-center w-full text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg sm:flex dark:bg-gray-700 dark:border-gray-600 dark:text-white"
          >
            <li
              class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r dark:border-gray-600"
            >
              <div class="flex items-center ps-3">
                <input
                  id="questionCQ-{{loop.index}}b"
                  type="radio"
                  value="0"
                  name="list-radioCQ{{loop.index}}"
                  class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500"
                />
                <label
                  for="questionCQ-{{loop.index}}b"
                  class="w-full py-3 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                  >Never</label
                >
              </div>
            </li>
            <li
              class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r dark:border-gray-600"
            >
              <div class="flex items-center ps-3">
                <input
                  id="questionCQ-{{loop.index}}c"
                  type="radio"
                  value="1"
                  name="list-radioCQ{{loop.index}}"
                  class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500"
                />
                <label
                  for="questionCQ-{{loop.index}}c"
                  class="w-full py-3 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                  >Occasionally</label
                >
              </div>
            </li>
            <li
              class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r dark:border-gray-600"
            >
              <div class="flex items-center ps-3">
                <input
                  id="questionCQ-{{loop.index}}d"
                  type="radio"
                  value="2"
                  name="list-radioCQ{{loop.index}}"
                  class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500"
                />
                <label
                  for="questionCQ-{{loop.index}}d"
                  class="w-full py-3 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                  >Often</label
                >
              </div>
            </li>
            <li class="w-full dark:border-gray-600">
              <div class="flex items-center ps-3">
                <input
                  id="questionCQ-{{loop.index}}e"
                  type="radio"
                  value="3"
                  name="list-radioCQ{{loop.index}}"
                  class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500"
                />
                <label
                  for="questionCQ-{{loop.index}}e"
                  class="w-full py-3 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                  >Very Often</label
                >
              </div>
            </li>
          </ul>

          {% else %}

          <ul
            class="items-center w-full text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg sm:flex dark:bg-gray-700 dark:border-gray-600 dark:text-white"
          >
            <li
              class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r dark:border-gray-600"
            >
              <div class="flex items-center ps-3">
                <input
                  id="questionCQ-{{loop.index}}a"
                  type="radio"
                  value="1"
                  name="list-radioCQ{{loop.index}}"
                  class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500"
                />
                <label
                  for="questionCQ-{{loop.index}}a"
                  class="w-full py-3 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                  >Excellent
                </label>
              </div>
            </li>
            <li
              class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r dark:border-gray-600"
            >
              <div class="flex items-center ps-3">
                <input
                  id="questionCQ-{{loop.index}}b"
                  type="radio"
                  value="2"
                  name="list-radioCQ{{loop.index}}"
                  class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500"
                />
                <label
                  for="questionCQ-{{loop.index}}b"
                  class="w-full py-3 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                  >Above Average</label
                >
              </div>
            </li>
            <li
              class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r dark:border-gray-600"
            >
              <div class="flex items-center ps-3">
                <input
                  id="questionCQ-{{loop.index}}c"
                  type="radio"
                  value="3"
                  name="list-radioCQ{{loop.index}}"
                  class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500"
                />
                <label
                  for="questionCQ-{{loop.index}}c"
                  class="w-full py-3 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                  >Average</label
                >
              </div>
            </li>
            <li
              class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r dark:border-gray-600"
            >
              <div class="flex items-center ps-3">
                <input
                  id="questionCQ-{{loop.index}}d"
                  type="radio"
                  value="4"
                  name="list-radioCQ{{loop.index}}"
                  class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500"
                />
                <label
                  for="questionCQ-{{loop.index}}d"
                  class="w-full py-3 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                  >Somewhat of a Problem</label
                >
              </div>
            </li>
            <li class="w-full dark:border-gray-600">
              <div class="flex items-center ps-3">
                <input
                  id="questionCQ-{{loop.index}}e"
                  type="radio"
                  value="5"
                  name="list-radioCQ{{loop.index}}"
                  class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500"
                />
                <label
                  for="questionCQ-{{loop.index}}e"
                  class="w-full py-3 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                  >Problematic</label
                >
              </div>
            </li>
          </ul>
          {% endif %}
        </div>
        {% endfor %}
      </div>

      <div id="teenQuestions" style="display: none">
        {% for question in questions.teen %}
        <div class="mb-10" id="questionTQ{{loop.index}}">
          {{loop.index}}. {{ question.text }}
          <ul
            class="items-center w-full text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg sm:flex dark:bg-gray-700 dark:border-gray-600 dark:text-white"
          >
            <li
              class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r dark:border-gray-600"
            >
              <div class="flex items-center ps-3">
                <input
                  id="questionTQ-{{loop.index}}b"
                  type="radio"
                  value="1"
                  name="list-radioTQ{{loop.index}}"
                  class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500"
                />
                <label
                  for="questionTQ-{{loop.index}}b"
                  class="w-full py-3 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                  >Not at all</label
                >
              </div>
            </li>
            <li
              class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r dark:border-gray-600"
            >
              <div class="flex items-center ps-3">
                <input
                  id="questionTQ-{{loop.index}}c"
                  type="radio"
                  value="2"
                  name="list-radioTQ{{loop.index}}"
                  class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500"
                />
                <label
                  for="questionTQ-{{loop.index}}c"
                  class="w-full py-3 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                  >Just a little</label
                >
              </div>
            </li>
            <li
              class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r dark:border-gray-600"
            >
              <div class="flex items-center ps-3">
                <input
                  id="questionTQ-{{loop.index}}d"
                  type="radio"
                  value="3"
                  name="list-radioTQ{{loop.index}}"
                  class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500"
                />
                <label
                  for="questionTQ-{{loop.index}}d"
                  class="w-full py-3 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                  >Quite a bit</label
                >
              </div>
            </li>
            <li class="w-full dark:border-gray-600">
              <div class="flex items-center ps-3">
                <input
                  id="questionTQ-{{loop.index}}e"
                  type="radio"
                  value="4"
                  name="list-radioTQ{{loop.index}}"
                  class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500"
                />
                <label
                  for="questionTQ-{{loop.index}}e"
                  class="w-full py-3 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                  >Very Much</label
                >
              </div>
            </li>
          </ul>
        </div>
        {% endfor %}
      </div>

      <div id="adultQuestions" style="display: none">
        {% for question in questions.adult %}
        <div class="mb-10" id="questionAQ{{loop.index}}">
          {{loop.index}}. {{ question.text }}
          <ul
            class="items-center w-full text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg sm:flex dark:bg-gray-700 dark:border-gray-600 dark:text-white"
          >
            <li
              class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r dark:border-gray-600"
            >
              <div class="flex items-center ps-3">
                <input
                  id="questionAQ-{{loop.index}}a"
                  type="radio"
                  value="1"
                  name="list-radioAQ{{loop.index}}"
                  class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500"
                />
                <label
                  for="questionAQ-{{loop.index}}a"
                  class="w-full py-3 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                  >Never
                </label>
              </div>
            </li>
            <li
              class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r dark:border-gray-600"
            >
              <div class="flex items-center ps-3">
                <input
                  id="questionAQ-{{loop.index}}b"
                  type="radio"
                  value="2"
                  name="list-radioAQ{{loop.index}}"
                  class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500"
                />
                <label
                  for="questionAQ-{{loop.index}}b"
                  class="w-full py-3 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                  >Rarely</label
                >
              </div>
            </li>
            <li
              class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r dark:border-gray-600"
            >
              <div class="flex items-center ps-3">
                <input
                  id="questionAQ-{{loop.index}}c"
                  type="radio"
                  value="3"
                  name="list-radioAQ{{loop.index}}"
                  class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500"
                />
                <label
                  for="questionAQ-{{loop.index}}c"
                  class="w-full py-3 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                  >Sometimes</label
                >
              </div>
            </li>
            <li
              class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r dark:border-gray-600"
            >
              <div class="flex items-center ps-3">
                <input
                  id="questionAQ-{{loop.index}}d"
                  type="radio"
                  value="4"
                  name="list-radioAQ{{loop.index}}"
                  class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500"
                />
                <label
                  for="questionAQ-{{loop.index}}d"
                  class="w-full py-3 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                  >Often</label
                >
              </div>
            </li>
            <li class="w-full dark:border-gray-600">
              <div class="flex items-center ps-3">
                <input
                  id="questionAQ-{{loop.index}}e"
                  type="radio"
                  value="5"
                  name="list-radioAQ{{loop.index}}"
                  class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500"
                />
                <label
                  for="questionAQ-{{loop.index}}e"
                  class="w-full py-3 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                  >Very Often</label
                >
              </div>
            </li>
          </ul>
        </div>
        {% endfor %}
      </div>

      <div class="flex justify-center">
        <button
          id="submit"
          class="px-4 py-2 mb-10 text-white bg-blue-500 rounded-lg hover:bg-blue-600"
        >
          Submit
        </button>
      </div>
    </div>
  </div>

  <script src="/static/js/screening.js"></script>
  {% endblock %}
</div>
